@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--dark: #343232;
	--light: #eee;
	--white: #ffffff;
	--gray: #50565d;
	--pink: #ec4899;
	--purple: #885cf6;
	--darkred: #6c0707;
	--red: #b21a1a;
	--black: #000000;
	--yellow: #ffa500;
	--darkblue: #041e42;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: "League Spartan", sans-serif;
}
h1 {
	font-size: 4rem;
	color: var(--darkred);
}

h2 {
	font-size: 46px;
}

h4 {
	font-size: 20px;
}

p {
	font-size: 1.5rem;
}

button.normal {
	font-size: 16px;
	font-weight: 600;
	padding: 15px 30px;
	background-color: var(--white);
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}

button.normal:hover {
	background-color: var(--darkred);
}

button.white {
	font-size: 15px;
	font-weight: 600;
	padding: 12px 18px;
	background-color: transparent;
	color: var(--white);
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid var(--white);
	outline: none;
	transition: 0.2s;
}

body {
	min-height: 100vh;
	color: var(--gray);
}

hr {
	border-top: 1px solid var(--darkred);
}

.section-p1 {
	padding: 40px 80px;
}

.section-m1 {
	margin: 40px 0;
}

.logo {
	width: 120px;
}

#header .logo {
	margin: 0 0 0 30px;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: var(--light);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}

#navbar {
	display: flex;
	justify-self: center;
	align-items: center;
}

#navbar li {
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	color: var(--dark);
	font-size: 1.2rem;
	font-weight: 600;
	transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
	color: var(--darkred);
}

#navbar li a:hover::after,
#navbar li a.active::after {
	content: "";
	width: 32%;
	height: 3px;
	background: var(--darkred);
	position: absolute;
	bottom: -3px;
	left: 20px;
	border-radius: 20px;
}

#mobile {
	display: none;
}

#close {
	display: none;
}

#hero {
	background-image: url(images/Hero1.png);
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 40%;
	padding: 0 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#hero h1 {
	color: var(--darkred);
}
#hero h4 {
	padding-bottom: 15px;
}

#hero button {
	background-image: url(images/Button.png);
	background-color: transparent;
	background-repeat: no-repeat;
	filter: invert(13%) sepia(7%) saturate(7%) hue-rotate(39deg) brightness(97%)
		contrast(82%);
	color: var(--darkred);
	padding: 8px 80px 6px 60px;
	border: 0;
	font-weight: 800;
	font-size: 20px;
	cursor: pointer;
}

#feature {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

#feature .fe-box {
	width: 180px;
	text-align: center;
	padding: 25px 15px;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
	border: 1px solid var(--light);
	border-radius: 8px;
	margin: 15px 0;
}

#feature .fe-box:hover {
	box-shadow: 10px 10px 54px rgba(245, 62, 56, 0.2);
}

#feature .fe-box img {
	width: 100%;
	margin-bottom: 10px;
}

#feature .fe-box h6 {
	display: inline-block;
	padding: 9px 8px 6px 8px;
	line-height: 1;
	border-radius: 4px;
	color: var(--light);
	background: var(--darkred);
}

#products {
	text-align: center;
}

#products .pro-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;
}

#products .pro {
	width: 23%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid var(--light);
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
	margin: 15px 0;
	transition: 0.2s ease;
	position: relative;
}

#products .pro:hover {
	box-shadow: 10px 10px 54px rgba(245, 62, 56, 0.2);
}

#products .pro img {
	width: 100%;
	border-radius: 20px;
}

#products .pro .des {
	text-align: start;
	padding: 10px 0;
}

#products .pro .des span {
	color: var(--dark);
	font-size: 16px;
}

#products .pro .des h5 {
	padding-top: 7px;
	color: var(--darkred);
	font-size: 20px;
}

#products .pro .des i {
	padding-top: 7px;
	font-size: 18px;
	color: var(--yellow);
}

#products .pro .des h4 {
	padding-top: 7px;
	font-size: 18px;
	color: var(--darkred);
}

#products .pro .cart {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	background-color: var(--darkred);
	font-weight: 500;
	color: var(--light);
	border: 1px solid var(--darkred);
	position: absolute;
	bottom: 20px;
	right: 10px;
}

#banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url(images/banner/b2.jpg);
	background-size: cover;
	background-position: center;
}

#banner h4 {
	color: var(--white);
	font-size: 20px;
}

#banner h2 {
	color: var(--white);
	font-size: 50px;
	padding: 10px 0;
}

#banner h2 span {
	color: var(--red);
	font-size: 50px;
}
#sm-banner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#sm-banner .banner-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	background-image: url(images/banner/b17.jpg);
	background-size: cover;
	background-position: center;
	width: 850px;
	height: 50vh;
	padding: 30px;
}

#sm-banner .banner-box:nth-child(2) {
	background-image: url(images/banner/b10.jpg);
}

#sm-banner h4 {
	color: var(--white);
	font-size: 28px;
	font-weight: 300;
	padding-bottom: 10px;
}

#sm-banner h2 {
	color: var(--white);
	font-size: 34px;
	font-weight: 800;
	padding-bottom: 10px;
}

#sm-banner span {
	color: var(--white);
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
	background-color: var(--darkred);
	border: 1px solid var(--darkred);
}

#banner-3 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#banner-3 h2 {
	color: var(--white);
	font-size: 30px;
	font-weight: 900;
}

#banner-3 h3 {
	color: var(--darkred);
	font-size: 25px;
	font-weight: 800;
}

#banner-3 .banner-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	background-image: url(images/banner/b7.jpg);
	background-size: cover;
	background-position: center;
	width: 30%;
	height: 30vh;
	padding: 20px;
	margin-bottom: 20px;
}

#banner-3 .banner-box:hover {
	opacity: 0.8;
}

#banner-3 .banner-box:nth-child(2) {
	background-image: url(images/banner/b4.jpg);
}

#banner-3 .banner-box:nth-child(3) {
	background-image: url(images/banner/b18.jpg);
}

#newsletter {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background-image: url(images/banner/b14.png);
	background-repeat: no-repeat;
	background-position: 20% 30%;
	background-color: var(--darkblue);
}

#newsletter h4 {
	font-size: 22px;
	font-weight: 700;
	color: var(--white);
}

#newsletter p {
	font-size: 22px;
	font-weight: 600;
	color: var(--gray);
}

#newsletter p span {
	color: var(--yellow);
}

#newsletter .form {
	display: flex;
	width: 40%;
}

#newsletter input {
	height: 3.125rem;
	padding: 0 1.25rem;
	font-size: 14px;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#newsletter button {
	background-color: var(--darkred);
	color: var(--white);
	white-space: nowrap;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#newsletter button:hover {
	opacity: 0.8;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
}

footer .logo {
	margin: 0 0 30px 0;
}

footer h4 {
	color: var(--darkred);
	font-size: 30px;
	padding-bottom: 20px;
}

footer p {
	color: var(--dark);
	font-size: 20px;
	margin: 0 0 8px 0;
}
footer a {
	font-size: 20px;
	text-decoration: none;
	color: var(--dark);
	margin-bottom: 10px;
}

footer .follow {
	margin-top: 20px;
}

footer .follow i {
	width: 30px;
	background-image: linear-gradient(to right, var(--darkred), var(--dark));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	padding-right: 4px;
}

footer .install .row img {
	border: 1px solid var(--darkred);
	border-radius: 6px;
}

footer .install img {
	margin: 10px 0 15px 0;
}

footer a:hover {
	color: var(--darkred);
}

footer .follow i:hover {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

footer .copyright {
	width: 100%;
	text-align: center;
}

/* Media Query */
@media (max-width: 820px) {
	.section-p1 {
		padding: 40px 40px;
	}
	#navbar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: -300px;
		height: 100vh;
		width: 300px;
		background-color: var(--light);
		box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
		padding: 80px 0 0 10px;
		transition: 0.3s;
	}

	#navbar.active {
		right: 0;
	}

	#navbar li {
		margin-bottom: 25px;
	}

	#mobile {
		display: flex;
		align-items: center;
	}

	#mobile i {
		color: var(--black);
		font-size: 24px;
		padding-left: 20px;
	}

	#close {
		display: initial;
		position: absolute;
		top: 30px;
		left: 30px;
		color: var(--dark);
		font-size: 24px;
	}

	#lg-bag {
		display: none;
	}

	#hero {
		height: 60vh;
		padding: 0 80px;
		background-position: top 30% right 30%;
	}

	#feature {
		justify-content: center;
	}

	#feature .fe-box {
		margin: 15px;
	}

	#products .pro-container {
		justify-content: center;
	}

	#products .pro {
		margin: 15px;
	}

	#banner {
		height: 20vh;
	}

	#sm-banner .banner-box {
		min-width: 100%;
		height: 30vh;
		padding: 30px;
	}

	#banner-3 {
		padding: 0 40px;
	}

	#banner-3 .banner-box {
		width: 28%;
	}

	#newsletter .form {
		width: 70%;
	}
}

@media (max-width: 477px) {
	#header .logo {
		width: 65px;
	}

	.section-p1 {
		padding: 20px;
	}

	#header {
		padding: 20px 30px;
	}

	h1 {
		font-size: 38px;
	}
	h2 {
		font-size: 32px;
	}

	#hero {
		padding: 0 20px;
		background-position: 55%;
	}

	#hero {
		padding: 0 20px;
		background-position: 55%;
	}

	#feature {
		justify-content: space-between;
	}

	#feature .fe-box {
		width: 155px;
		margin: 0 0 15px 0;
	}

	#products .pro {
		width: 100%;
	}

	#banner {
		height: 40vh;
	}

	#sm-banner .banner-box {
		height: 40vh;
	}

	.banner-box:nth-child(2) {
		margin-top: 20px;
	}

	#banner-3 {
		padding: 0 20px;
	}

	#banner-3 .banner-box {
		width: 100%;
	}

	#newsletter {
		padding: 40px 20px;
	}

	#newsletter .form {
		width: 100%;
	}

	footer .copyright {
		text-align: start;
	}
}
